<h2>Welcome to the book app</h2>

<form action="/search" method="GET">
  <label>Search by Title:</label>
  <input type="text" name="bookTitle" />

  <br />

  <label>Search by Rating:</label>
  <input type="number" name="bookRating" />

  <button type="submit">Search</button>
</form>