<form action="/books/add" method="POST">
  {{! GET or POST }}
  <label>Title</label>
  <input type="text" name="title" />

  <label>Author</label>
  <input type="text" name="author" />

  <label>Rating</label>
  <input type="number" name="rating" />

  <button type="submit">Create</button>
</form>