<div>

  <header>
    <h2>IHMDB</h2>
  </header>

  <main class="cards-container">

    <div class="category-card">
      <h3>Movies List</h3>
      <br />
      <p>Click the button to see the list of movies.</p>
      <br />
      <a href="/movies"> See Movies </a>
    </div>

  </main>

</div>