<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>IHMDB</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>

    <nav class="navbar">

    </nav>

    <div class="view-container">
      {{{body}}}
    </div>

    <footer>
      <h4>IHMBD - All Rights Reserved.</h4>
    </footer>

  </body>
</html>