<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>IHMDB</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>

    <nav class="navbar">
      <h3> IHMDB - IronHack Movies Database </h3>
      <div class="navbar-nav">
        <a href="/">Home</a>
        <a href="/movies">Movies</a>
      </div>
    </nav>

    <div class="view-container">
      {{{body}}}
    </div>

    <footer>
      <h4>IHMBD - All Rights Reserved.</h4>
    </footer>

  </body>
</html>