body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: center / cover no-repeat
    url("https://cdn.pixabay.com/photo/2015/03/14/19/45/suit-673697_960_720.jpg");
}
h1,
h3,
h4 {
  margin: 0 auto;
  font-size: 90px;
  font-family: "Anton", sans-serif;
  letter-spacing: 5px;
  color: white;
  text-shadow: 2px 3px black;
}

h3 {
  font-size: 60px;
  margin-top: 100px;
  color: antiquewhite;
}

h4 {
  font-size: 50px;
  margin-top: 10px;
  color: darkgoldenrod;
}
