<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Node Server 2- HTML</title>
    <link
      href="https://fonts.googleapis.com/css?family=Anton"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/about.css" />
  </head>
  <body>
    <h1>About me</h1>

    <h3>Favourite word:</h3>
    <h4>Bananarama</h4>

    <h3>Favourite animal:</h3>
    <h4>Tyrannosaurus</h4>
  </body>
</html>
