<form action="/characters/edit/{{character.id}}" method="POST">

  <label>
    Name:
    <input type="text" name="name" value="{{character.name}}" />
  </label>
  <label>
    Occupation:
    <input type="text" name="occupation" value="{{character.occupation}}" />
  </label>
  <label>
    Weapon:
    <input type="text" name="weapon" value="{{character.weapon}}" />
  </label>

  <input type="submit" value="Update character info" />
</form>